<template>
  <div class="card">
      <h2>{{ title }}</h2>
      {{ body }}
  </div>
</template>

<script>
export default {
    name : "Card",
    props : ["title","body"]
}
</script>

<style scoped>
    .card {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding : 1rem;
        margin : 1rem;
        /* background-color: cadetblue; */
        box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.226);
    }
</style>