<template>
  <div>
    <h1 style="text-align:center">----- State and Data -----</h1>

    <h2>Sample State</h2>
    Count : {{ count }} 
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
    <button @click="reset">Reset</button>
    <h2>Add Todo</h2>
    <div>
      <input v-model="todoTitle" />
      <button @click="addtodo">Add</button>
    </div>
    <h2>Todo</h2>
    <div v-if="todo.length > 0">
      <li v-for="(item, index) in todo" :key="index">
        {{ item.title }} <button @click="removeTodo(item.id)">Delete</button>
      </li>
    </div>
    <div v-else>
      <p>No Todo Now</p>
    </div>

    <h1 style="text-align:center">----- Recieving Data from Api with Axios -----</h1>
    <div id="api-practice" v-if="isLoad == false">
      <Card
        v-for="(item, index) in post"
        :key="index"
        :title="item.title"
        :body="item.body"
      />
    </div>
    <div id="api-practice" v-else>
      <p>Loading</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Card from "./components/Card.vue";
export default {
  name: "App",
  components: {
    Card,
  },
  data() {
    return {
      isLoad: true,
      count: 0,
      todoTitle: "",
      post: null,
      todo: [
        {
          id: 1,
          title: "TEST",
        },
      ],
    };
  },

  methods: {
    increment() {
      /* */
    },

    decrement() {
      /* */
    },

    reset() {
      /* */
    },
    async fetch() {
      let url = `https://jsonplaceholder.typicode.com/posts`
      /* use axios here */

      if (res.data !== null) {
        /* */
        this.isLoad = false;
      }
    },
    addtodo() {
      if (this.todo.length >= 1) {
        let todoLength = this.todo.length;
        let lastAddedId = this.todo[todoLength - 1].id;
        /* */
      } else {  // in case todo array doesn't contain any element add first id is 1
        this.todo.push({
          id: 1,
          title: this.todoTitle,
        });
      }
    },

    removeTodo(todo_id) {
      /* */
    },
  },
  created() {
    this.fetch();
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
#api-practice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
